<%- include('partials/header', {
	pageTitle: pageTitle || 'BugaMed - MRI & CT Parts | Gallery',
	metaDescription: metaDescription || 'Bugamed Care provides MRI, CT, and X-ray equipment parts and technical services.',
	canonicalUrl: '/photos',
	currentPage: 'photos'
}) %>
<link rel="stylesheet" href="/assets/css/global.css" />
<link rel="stylesheet" href="/assets/css/photos.css" />
<script src="/assets/js/photo-size.js" defer></script>

<div class="gallery-container">
	<% if (images && images.length > 0) { %>
		<% images.forEach(function(img, index) { %>
			<div class="gallery-item">
				<img
					src="<%= img.imagePath %>"
					alt="<%= img.altText || ('Image ' + (index + 1)) %>"
					onclick="openModal(this)"
					loading="lazy"
				/>
				<% if (img.caption) { %>
					<div class="image-caption"><%= img.caption %></div>
				<% } %>
			</div>
		<% }) %>
	<% } else { %>
		<p style="padding: 16px">Henüz galeri görseli bulunmuyor.</p>
	<% } %>
</div>

<div id="myModal" class="modal">
	<span class="close" onclick="closeModal()">&times;</span>
	<img class="modal-content" id="modalImage" alt="Gallery image" />
	<div id="caption" class="caption-text"></div>
	<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
	<a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<%- include('partials/footer') %>